// Colors
$primary: #ffdd00;
$primary-hover: #ffcf4a;
$secondary: #F8F8F8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;
$cancel: #ff0000;
$progress: #e89f19;
$success: #4BB543;

// Transition 
$smooth: all .3s ease-in-out;